<div class="row d-flex justify-content-center">
  <div class="col-auto">
    <h2 class="text-light">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mb-4 lg-9 d-flex justify-content-center">
  <section class="row post-list">
    {{#if posts.length}}
    <div="card p-3 pt-1 pb-0 d-flex row-md-7 " style=" width: 80%;">
      <h3 class="text-light">Your Current Posts:</h3>

      <section>
        {{#each posts as |post|}}
        <div class="col card d-flex justify-content-center bg-dark p-3 pb-0 pt-0 text-light mt-2">
          <div class="col">
            <h4><a href="/edit-post/{{post.id}}">{{post.title}}</a></h4>
          </div>
          <div class="col-md-4 ">
            <p>Posted on {{format_date post.date_created}}</p>
          </div>
        </div>
        {{/each}}
      </section>
      <br>
      <div class="d-flex justify-content-center">
        <button id="add-new-post" class="btn btn-primary p-3" style="width: 80%;">
          <h3 class="text-light">Add New Post</h3>
        </button>
      </div>
  </section>
  <br>
  {{/if}}


  <div class="row create-post" style="display: none; width: 80%;">
    <h3 class="text-light">Create a New Post:</h3>

    <form class="form new-post-form">
      <section class="card bg-dark p-3 text-light justify-content-center">
        <div class="form-group">
          <label for="post-title">
            <h5 style="color: aquamarine;">Post Title:</h5>
          </label>
          <input class="form-input" type="text" id="post-title" title="post-title" style="width: 100%;">
        </div>
        <div class="form-group">
          <label for="post-desc">
            <h5 style="color: aquamarine;">Description:</h5>
          </label>
          <input class="form-input" id="post-desc" title="post-desc" cols="40"
                 style="width: 100%; height: 100px"></input>
        </div>
      </section>
      <br>
      <section class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary p-3" style="width: 80%;">
          <h3>Create</h3>
        </button>
      </section>
    </form>
  </div>

</div>

<script src="./js/dashboard.js"></script>