<!--TODO: WHEN I revisit the site at a later time and choose to sign in
THEN I am prompted to enter my namename and password-->

<div class="row card p-3 pt-1 pb-0 d-flex justify-content-center" style="width: 60%;">
  <h2>Login</h2>
  <form class="form login-form">
    <section class="card bg-dark p-3" style="color: aquamarine;">
      <div class=" form-group d-flex align-items-center">
        <label for="name-login " class="me-5">User: </label>
        <input class="form-control" type="text" id="name-login" />
      </div>
      <br>
      <div class="form-group d-flex align-items-center">
        <label for="password-login" class="me-3">Password:</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
    </section>
    <br>
    <section class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
      <button class="btn btn-secondary" id="signup-button">Sign Up</button>
    </section>
  </form>
</div>

<script src="./js/login.js"></script>